<footer class="text-white container-fluid">
  <div class="container">
      <div class="row">
          <!-- Contact Section -->
          <div class="col-md-3">
              <h5>Contact</h5>
              <ul class="list-unstyled">
                  <li><a href="/" class="text-white">Home</a></li>
                  <li><a href="#" class="text-white">Contact Us</a></li>
              </ul>
          </div>

          <!-- Customer Services Section -->
          <div class="col-md-3">
              <h5>Customer Services</h5>
              <ul class="list-unstyled">
                  <li><a href="#" class="text-white">FAQ</a></li>
                  <li><a href="#" class="text-white">Shipping and Returns</a></li>
                  <li><a href="#" class="text-white">Order Tracking</a></li>
              </ul>
          </div>

          <!-- About Us Section -->
          <div class="col-md-3">
              <h5>About Us</h5>
              <ul class="list-unstyled">
                  <li><a href="#" class="text-white">Our Story</a></li>
                  <li><a href="#" class="text-white">Careers</a></li>
                  <li><a href="#" class="text-white">Privacy Policy</a></li>
              </ul>
          </div>

          <!-- Follow Us Section -->
          <div class="col-md-3">
              <h5>Follow Us</h5>
              <ul class="list-unstyled d-flex">
                  <li class="me-3"><a href="#" class="text-white"><i class="fab fa-facebook"></i></a></li>
                  <li class="me-3"><a href="#" class="text-white"><i class="fab fa-instagram"></i></a></li>
                  <li class="me-3"><a href="#" class="text-white"><i class="fab fa-linkedin"></i></a></li>
                  <li class="me-3"><a href="#" class="text-white"><i class="fab fa-whatsapp"></i></a></li>
              </ul>
          </div>
      </div>
  </div>
</footer>