.book {
  transition: transform 0.2s ease;
  width: 100%;
  border-radius: 20px;
  padding-top: 17px;
  text-align: center;
  border: none;
  box-shadow: 0 0 20px rgba(97, 84, 71, 0.2);
}

.app-btn {
  background-color: #8E4700;
  border: none;
  border: 1px solid #8E4700;
  border-radius: 10px;
  color: #fff;
  padding: 7px 2px;
  transition: all 0.3s ease-in-out;
}

.app-btn:hover {
  background-color: #7C3E00;
}

.book img {
  border-radius: 20px;
  width: 80%;
  height: 80%;
  margin: auto;
}

.book:hover {
  transform: scale(1.02) translateY(-15px);
}

/* custom */
.best {
  font-size: 1.8rem;
}

.b-img {
  width: 100%;
  height: auto;
  margin-top: 20px;
  object-fit: cover;
  border-radius: 35px;
}

.b-row {
  padding-left: 50px;
  padding-right: 50px;
}


/* filter */
.filter-box {
  background-color: #f9f0dc;
  border-radius: 20px;
}

.fixed-height-card {
  height: 450px;
  overflow: hidden;
}

.fixed-height-card .card-body {
  height: calc(100% - 200px); /* Adjust this value based on your image height */
  overflow-y: auto; /* Add a scrollbar if content overflows */
}

.fixed-height-card .card-img-top {
  height: 260px; /* Adjust this value as needed */
  object-fit: cover;
}

@media (max-width: 768px) {

  .b-row {
    padding-left: 15px;
    padding-right: 15px;
  }
  .b-img {
    width: 100%;
    height: auto;
    margin-top: 20px;
    object-fit: cover;
    border-radius: 20px;
  }
  .navbar-toggler-icon {
    width: 15px;
    height: 15px;
  }
  .filter-box {
    background-color: rgb(247, 231, 212);
    border-radius: 20px;
    margin: auto;
    width: 90%;
    height: auto;
    padding-bottom: 20px;
    font-size: 1rem;
  }
  .filter-box h5 {
    font-size: 1rem;
  }
  .best {
    font-size: 1.3rem;
    margin-top: 15px;
  }

  /* card */
  .fixed-height-card {
    height: 300px; /* Reduce height for mobile */
  }

  .fixed-height-card .card-img-top {
    height: 150px; /* Adjust image height */
  }

  .fixed-height-card .card-body {
    height: calc(100% - 120px); /* Adjust remaining space */
  }

  /* Reduce font sizes for smaller screens */
  .fixed-height-card .card-title {
    font-size: 13px; /* Smaller title */
  }

  .fixed-height-card p {
    font-size: 11px; /* Reduce paragraph font size */
  }

  .fixed-height-card .text-danger,
  .fixed-height-card .text-success {
    font-size: 10px; /* Adjust stock status and price font size */
  }
  .col-md-3 {
    margin-bottom: .5rem !important; /* Equivalent to mb-3 */
  }
}


