.main {
  flex: 1;
  padding: 20px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.top-bar .search-bar {
  position: relative;
}

.top-bar .search-bar input {
  padding: 10px 15px;
  width: 250px;
  border: 1px solid #ddd;
  border-radius: 20px;
}

.top-bar .search-bar i {
  position: absolute;
  right: 15px;
  top: 12px;
  color: #aaa;
}

.table-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: #f3f3f3;
  color: #502314;
}

table td {
  font-size: 14px;
}

.delete-btn {
  background-color: #f44336;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.toggle-status {
  display: flex;
  align-items: center;
}

.toggle-status input[type="checkbox"] {
  width: 40px;
  height: 20px;
  margin-right: 10px;
  appearance: none;
  background-color: #ccc;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  outline: none;
}

.toggle-status input[type="checkbox"]:checked {
  background-color: #4caf50;
}

.toggle-status input[type="checkbox"]:checked:before {
  left: 20px;
}

.toggle-status input[type="checkbox"]:before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: white;
  border-radius: 50%;
  top: 1px;
  left: 1px;
  transition: left 0.2s;
}

a {
  color: #200b0b;
}

.input-custom {
  border-radius: 30px;
  padding: 10px 15px;
  font-size: 14px;
  border: 1px solid #ddd;
}

.input-custom:focus {
  outline: none;
  border-color: #82c91e;
  /* Matching green color */
  box-shadow: 0 0 5px #82c91e;
}
