<!-- Header -->
<header class="row bg-light shadow-sm py-3 px-4 align-items-center fixed-top">
  <div class="col-md-6">
    <div class="logo-container"><a class="text-decoration-none logo" href="/"><img src="/img/Logo.png" alt="Logo"></a></div>
  </div>
  <div class="col-md-6 text-end">
    <button class="btn btn-danger py-2 px-3 btn-sm">
      <a class="text-decoration-none text-white" href="/admin/logout">Logout</a>
    </button>
  </div>
</header>
