<div class="sidebar">
  <div class="menu">
    <a href="/admin" class="menu-link" id="dashboardLink">
      <i class="fas fa-th-large me-2"></i>
      Dashboard
    </a>
    <a href="/admin/sales-report" class="menu-link" id="salesReportLink">
      <i class="fas fa-chart-line me-2"></i>
      Sales Report
    </a>
    <a href="/admin/products" class="menu-link" id="booksLink">
      <i class="fas fa-book me-2"></i>
      Books
    </a>
    <a href="/admin/orders" class="menu-link" id="ordersLink">
      <i class="fas fa-shopping-cart me-2"></i>
      Orders
    </a>
    <a href="/admin/users" class="menu-link" id="customersLink">
      <i class="fas fa-users me-2"></i>
      Customers
    </a>
    <a href="#" class="menu-link" id="reviewsLink">
      <i class="fas fa-star me-2"></i>
      Reviews
    </a>
    <a href="/admin/offer-management" class="menu-link" id="offerLink">
      <i class="fas fa-tag me-2"></i>
      Offer
    </a>
    <a href="#" class="menu-link" id="contactUsLink">
      <i class="fas fa-envelope me-2"></i>
      Contact Us
    </a>
    <a href="/admin/coupon-page" class="menu-link" id="couponLink">
      <i class="fas fa-gift me-2"></i>
      Coupon
    </a>
    <a href="/admin/banners" class="menu-link" id="bannerManagementLink">
      <i class="fas fa-image me-2"></i>
      Banner Management
    </a>
    <a href="/admin/categories" class="menu-link" id="categoryLink">
      <i class="fas fa-list me-2"></i>
      Category
    </a>
    <a href="#" class="menu-link" id="notificationLink">
      <i class="fas fa-bell me-2"></i>
      Notification
    </a>
  </div>
</div>


<script>
  document.addEventListener("DOMContentLoaded", function() {
    let currentPath = window.location.pathname;

    if (currentPath.endsWith("/")) {
      currentPath = currentPath.slice(0, -1);
    }
    document.querySelectorAll(".menu-link").forEach(function(link) {
      if (link.getAttribute("href") === currentPath) {
        link.classList.add("active");
      }
    })
  })
</script>