<div class="sidebar">
  <!-- <div class="brand mb-4 fw-bold logo-type">
      Eternal Chapters
    </div> -->
  <div class="menu">
    <!-- <p class="menu-title">Home</p> -->
    <a href="/admin" class="menu-link">
      <i class="fas fa-th-large me-2"></i>
      Dashboard
    </a>
    <a href="/admin/sales-report" class="menu-link">
      <i class="fas fa-table me-2"></i>
      Sales Report
    </a>
    <a href="/admin/products" class="menu-link">
      <i class="fas fa-exclamation-circle me-2"></i>
      Books
    </a>
    <a href="/admin/orders" class="menu-link">
      <i class="fas fa-hand-pointer me-2"></i>
      Orders
    </a>
    <a href="/admin/users" class="menu-link">
      <i class="fas fa-window-maximize me-2"></i>
      Customers
    </a>
    <a href="#" class="menu-link">
      <i class="fas fa-table me-2"></i>
      Reviews
    </a>
    <!-- <p class="menu-title">Auth</p> -->
    <a href="/admin/offer-management" class="menu-link">
      <i class="fas fa-sign-in-alt me-2"></i>
      Offer
    </a>
    <a href="#" class="menu-link">
      <i class="fas fa-user-plus me-2"></i>
      Contact Us
    </a>
    <a href="/admin/coupon-page" class="menu-link">
      <i class="fas fa-user-plus me-2"></i>
      Coupon
    </a>
    <a href="/admin/banners" class="menu-link">
      <i class="fas fa-user-plus me-2"></i>
      Banner Management
    </a>
    <a href="/admin/categories" class="menu-link">
      <i class="fas fa-user-plus me-2"></i>
      Category
    </a>
    <a href="#" class="menu-link">
      <i class="fas fa-user-plus me-2"></i>
      Notification
    </a>
  </div>
</div>
